.navigation {
    
}

.navigation__links {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation__item {
    margin: 0;
    margin-right: 16px;
    padding: 0;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    line-height: 138%;
}

.navigation__item:last-of-type {
    margin-right: 0;
}

.navigation__item_hidden {
    display: none;
}

@media screen and (max-width: 768px) {
  .navigation {
    position: fixed;
    flex-direction: column;
    align-items: center;
    max-width: 520px;   
    top: 0;
    right: -100%;
    transition: all 0.5s ease;
    }

  .navigation_burger {        
    right: 150px;
    }
}
  

@media screen and (max-width: 768px) {
  .navigation__links {
    padding-top: 159px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    }
  
  .navigation__item {
    height: 26px;
    margin-bottom: 15px;
    margin-right: 0;
    font-size: 18px;
    line-height: 121%;
    border: none;
  }
}

.navigation__item-underline {
  border-bottom: 2px solid #000;
}