.header {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    height: 74px;
    margin: 0 auto;
    padding: 0 70px;
    background-color: #FAFAFA;
    
  }

  .header__logo {
    width: 38px;
  }

  .auth-buttons {
    margin-top: 21px;
    margin-bottom: 21px;
    font-size: 12px;
    line-height: 133%;
    font-weight: 500;
    text-decoration: none;
  }

  .auth-buttons__login-button {
    height: 32px;
    background-color: #3456F3;
    border-radius: 3px;
    text-decoration: none;
    margin-left: 30px;
    padding: 8px 20px;
  }

  .auth-buttons__signup-button {
    text-decoration: none;
  }

  .auth-buttons_hidden {
    display: none;
  }

  .header__account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100px;
    height: 30px;
  }

  .account__name {
    margin: 0;
    margin-right: 13px;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 114%;
    align-items: center;
  }

  .account__icon {
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    background: #F4F4F4;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 6px;
    background-image: url('../../images/profile-icon.svg');
    border: none;
  }

  .burger-menu-btn {
    display: none;
    margin: 0;
    padding: 0;
    width: 44px;
    height: 44px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../images/burger-icon.svg');
    border: none;
    background-color: #FAFAFA;
    cursor: pointer;
  }

  .burger-menu {    
    display: none;    
  }

  .burger-menu_on {
    transform: translateX(0);
  }

  .burger-menu__close-button {
    display: none;
    margin: 30px 30px 0 0;
    padding: 0;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    width: 22px;
    height: 22px;
    background-image: url('../../images/close-btn.svg');
    background-color: #FAFAFA;
    cursor: pointer;    
    transition: all 0.6s ease;
  }

     
  @media screen and (max-width: 768px) {
    .header__account {
      position: fixed;
      bottom: 92px;      
      right: -100%;
      transition: all 0.5s ease;
    }

    .header__account_burger {
      right: 210px;
    }

    .burger-menu {
      position: fixed;
      top: 0;
      right: 0;
      width: 768px;
      height: 100vh;       
      background-color: rgb(0 0 0 / 0.3);
      transform: translateX(100%);
      display: flex;
      justify-content: end;
      transition: all 0.5s ease;
    }

    .burger-menu_on {
      transform: translateX(0);
    }

    .burger-menu__container {
      display: flex;
      flex-direction: column;
      align-items: flex-end;       
      position: relative;
      top: 0;
      right: 0;  
      width: 520px;
      height: 100vh;
      background: #FAFAFA;
      overflow: auto;    
    }
  
    .burger-menu__close-button {
      display: block;
    }
  
    .burger-menu__close-button:hover {
      transform: rotate(90deg);
    }

    .burger-menu-btn {
      display: block;
    }
  }

   